html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  outline: 0;
}


.hide{
  display: none;
}

* {
  user-select: none;
  box-sizing: border-box;
}