.main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table{
  border-collapse: collapse;
}

.table, th, td{
  border: 1px solid black;
}

.row {

  // .row__cell

  &__cell {
  }

  // .row__title-cell

  &__title-cell {
    background-color: #A49E9E;
  }

  &__title{
    font-size: 2rem;
  }

  // .row__figures-cell

  &__figures-cell {
    min-width: 200px;
  }

  // .row__canvas-cell

  &__canvas-cell {
  }
}

.figure-block{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}
.figure{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  background-color: #990011;
}

.square {
  background-color: #278040;
}

.canvas {
  width: 800px;
  height: 800px;
}
