.main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table{
  border-collapse: collapse;
  position: relative;
}

.table, th, td{
  border: 1px solid black;
}

.row {

  // .row__cell

  &__cell {
  }

  // .row__title-cell

  &__title-cell {
    background-color: #A49E9E;
  }

  &__title{
    font-size: 2rem;
  }

  // .row__figures-cell

  &__figures-cell {
    min-width: 200px;
  }

  // .row__canvas-cell

  &__canvas-cell {
  }
}

#workspace{
  position: relative;
}
