
.figures{
  // display: flex;
  // justify-content: center;
  // width: 100%;
  // min-height: 105px;
  // padding: 10px 0;
  min-width: 200px;
  &__item{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid black;
    &_selected{
      border-color: #cce7ff;
    }
  }

  &__circle {
    left: 50px;
    top: 150px;
    border-radius: 50%;
    background-color: #990011;
  }
  
  &__square {
    left: 50px;
    top: 300px;
    background-color: #278040;
  }



}

